html {
	@include box-sizing(border-box);
}

*,
*:after,
*:before {
	@include box-sizing(inherit);
}

body {
	font-family: $font-base;
	color: $color-base;
}

p, ul, ol {
	&:first-of-type {
		margin-top: 0; // This is because of normalize. If you Meyer you have it anyway.
	}
	&:last-of-type {
		margin-bottom: 0; // This is because of normalize. If you Meyer you have it anyway.
	}
}
