html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: $font-base;
  color: $color-base;
}

// Example of the typography mixin for setting the first heading and a heading class
h1,
.heading1 {
  @include typography(heading1);
}
