html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

:root {
  font-size: $root-size+em;
} // :root

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-base;
  color: $color-base;
}

// Example of the typography mixin for setting the first heading and a heading class
h1,
.heading1 {
  @include typography(heading1);
}
