/*
	SASS & COMPASS BOILERPLATE
	For documentation and more information on SASS and Compass, refer to the official documentation:
		+ SASS: http://sass-lang.com
		+ Compass: http://compass-style.org

	This file acts as an asset manager and loads the following:
		+ Compass files
		+ Libraries
		+ Variables (fonts, colours, etc)
		+ Mixins (reusable styles)
		+ Modules (larger, self-contained, reusable units)
		+ Partials (parts of styling broken off for maintainability)
		+ A top-down stylesheet

	Note that files are included in order of necessity. For example, Compass CSS stuff can be used in
	variables which can be used in mixins, modules, site styles, etc.

	What about media queries?
	Note that since SASS allows you to nest @media declarations, separate stylesheets containing
	media queries are unnecessary. Nesting @media declarations also reinforces a modular approach.

*/
/*
	Imported modules from Compass
*/
/* line 5, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
  Fonts
  
  Any @font-face or third party font imports should go in this file

*/
/*
  Fonts
  
  Any @font-face or third party font imports should go in this file

*/
/*
	Libraries, variables, sprites, and mixins 

	An example of a SASS library is http://github.com/nathanshubert/Unicode-Shapes-Preprocessor-Library.
	They should be prefixed with an underscore, stored in the includes directory,
	and are included like such:
	@import "includes/library-name";
	
	Variables and mixins are also included here.
	
*/
/* Variables
/* + + + + + + + + + + + + + + + + + + + + + + + + + + + */
/* 
	Note:
		+ Mixin names should describe what things ARE, not what they look like.
		+ As much as it kills me, colour is spelled the American way to be consistant
		  with colour declarations in css.
	
	For example, the following are good variable names:
	$font-base, $font-header, $color-brand, $color-accent, $breakpoint-midsize, $breakpoint-small
	
	These are bad variable names:
	$blue, $orange, $helvetica, $ipad, $iphone
	
	On naming conventions, a good convention is to use underscores for spaces, and dashes to indicate
	a subsidiary relationship. This allows you to easily group variables by type.
	
	The following are good examples of variable groups named with a dash to indicate descendency:
	
	$font-x
	$font-weight-x
	$color-x
	$icon-x
	$breakpoint-x
	
*/
/* The following variables are needed by some of our mixins and can be adjust to meet
   the needs of the site.
*/
/* Mixins
/* + + + + + + + + + + + + + + + + + + + + + + + + + + + */
/* 
	Sprites 
  To use compass's sprite generating awesomeness, uncomment the include following this 
  comment block. 

  _sprites.scss contains two items:
    - A sprite-background mixin for sprites with a high pixel density counterpart
    - A template to use vanilla compass sprites for compatibility
  
  To use the sprite-background mixin, you'll need two images of the same name, one in the
  images/sprites/common-1x and one in the images/sprites/common-2x directories. The mixin will automatically
  use the right one.
  
  The template for vanilla compass sprites for compatibility is intended to be used for 
  older broser support. Think rounded corners and such things.
  
*/
/* 
	Modules 
	Self contained pieces of styling that can be reused.
	Modules should have the following characteristics: 
		+ Be context independent so they can be used anywhere.
		+ Defined within a mixin so that they can be used easily, anywhere.
		+ Be applied to a class that describes what the element IS, not what it looks like.
		+ Contain their own variations, fallbacks, and possibly media queries
	
	Buttons are a good example of a module.

	Module files should be prefixed with an underscore, stored in the modules directory, 
	and included like such:
	@import "modules/module-name";

  Some default modules are provided bellow. Uncomment them to use them.

*/
/*
  Drupal reset.
  This resets a lot of default Drupal css.
  NOTE: This file only exists in the drupal branch.

*/
/* 
	Partials 
	Pieces of code that aren't modular in nature, but are broken off for easier maintainability.
	
	Partials should be prefixed with an underscore, stored in the partials directory,
	and included as such:
	@import "partials/partial-name";
	
*/
/*
	Site styles 
	A traditional-style top-down stylesheet. Note that this file isn't always neccesary per se.
	Rather than putting everything in _style.scss, think about how your stylesheet can be broken
	up into partials and modules.

*/

/*# sourceMappingURL=screen.css.map */
