/*
	Layout goes in this file. Susy setup should go here too.
	Layout classes should be prefixed `.l-`
*/

// Main Configuration options for the Susy Grid
$gutter-width: 20px;
$column-count: 12;

$susy: (
  columns: $column-count,
  use-custom: (rem:true),
  global-box-sizing: border-box,
  gutter-position: inside-static,
  column-width: 96px,
  gutters: $gutter-width/96px,
  // debug: (
  //   image: show-columns,
  //   output: overlay,
  //   toggle: bottom left,
  // )
);

%l-container,
.l-container {
  //@include container($breakpoint-largest);
  @include clearfix;
  max-width: $breakpoint-large;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter-body - gutter();
  padding-right: $gutter-body - gutter();
  .no-mediaqueries & {
    min-width: $breakpoint-no-mediaqueries;
  }
  //Scale up
  @media (min-width: $breakpoint-large + 1) {
    padding-left: $gutter-body-large - gutter();
    padding-right: $gutter-body-large - gutter();
  }
  //Scale Down
  @media (max-width: $breakpoint-small) {
    padding-left: $gutter-body-small - gutter();
    padding-right: $gutter-body-small - gutter();
  }
}
