/* 
  Default styles
  
  Since we're using the Meyer reset, we need to put default styles back in for wysiwyg areas.

*/

@mixin default_styles {
  @include font_size($font_size-body);
  line-height: 1.4em;
  strong {
    @include font_weight(bold);
  } // strong
  em {
    font-style: italic;
  } // em
  a {
    @include hover_focus_underline;
    color: $color-brand;
  }
  sup, sub {
    font-size: smaller;
  }
  sup {
    vertical-align: super;
  }
  sub {
    vertical-align: sub;
  }
  p, ol, ul {
    margin-bottom: 1em;
  } // p, ol, ul
  h2, h3, h4, h5, h6 {
    margin-bottom: .2em;
  } // h2, h3, h.....
  h2 {
    font-size: 22px;
  } // h2
  h3, h4 {
    font-size: 18px;
  } // h3
  h3 {
    text-transform: uppercase;
  } // h3
  h5, h6 {
    font-size: 16px;
  } // h5, h6
  h5 {
    text-transform: uppercase;
  } // h5
  li {
    margin-left: 2em;
  } // li
  ul li {
    list-style: disc outside;
  } // ul li
  ol li {
    list-style: decimal outside;
  } // ol li
  blockquote {
    font-size: 1.25em;
    line-height: 1.6em;
    font-style: italic;
    margin: 2em 5em;
    border-bottom: 2px solid $color-brand;
  } // blockquote
  img, iframe {
    max-width: 100%;
    height: auto;
  } // img, iframe
} // default_styles

.wysiwyg {
  @include default_styles;
}